* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1c1e22;
  font-size: 1.3rem;
  color: #7e8792;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: space-between;
}

/***************NAVIGATION BAR***************/

.gradient {
  height: 5px;
  background: linear-gradient(270deg, #6b87e3 10%, #e041cc, #fc4b53 90%);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 70px;
  background-color: #292e36;
}

.logo {
  fill: rgb(236, 236, 236);
  height: 35px;
  width: 35px;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

header i {
  font-size: 35px;
  color: #c4ccdf;
}

.hidden {
  display: none !important;
}

/***************FILTER CHOICES***************/

.filters {
  display: flex;
  text-align: center;
  justify-content: start;
  height: 120px;
  align-items: center;
  background-color: #000;
  padding-left: 20px;
  overflow: auto;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filter-choice {
  cursor: pointer;
  border: 1px solid rgba(126, 135, 146, 0.4);
  border-radius: 2px;
  margin-right: 10px;
}

.filter-choice img {
  width: 100px;
}

figcaption {
  position: relative;
  z-index: 1;
  background: #000;
  height: 34px;
  padding-top: 8.5px;
  color: #7e8792;
}

.content {
  width: 80%;
  overflow: hidden;
}

/***************MAIN VIEWPORT***************/

.main-viewport {
  background-color: #1c1e22;
  position: relative;
  padding-top: 30px;
  transition: all 1s;
  top: 0;
  z-index: 1;
}

.fullscreen {
  top: -120px;
}

/***************IMAGE UPLOADER***************/

.controls {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

label[for="image-uploader"],
label[for="hide-presets"] {
  color: lightskyblue;
  cursor: pointer;
}

input[type="file"],
input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}

/***************IMAGE***************/

.filter {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 60px;
}

.filter img {
  width: 100%;
}

small {
  display: block;
  text-align: center;
  margin-top: 28px;
}

/***************1977 FILTER***************/

.filter-1977 {
  -webkit-filter: contrast(110%) brightness(110%) saturate(130%);
  filter: contrast(110%) brightness(110%) saturate(130%);
}

.filter-1977::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: screen;
  background: rgba(243, 106, 188, 0.3);
}

/***************ADEN FILTER***************/

.aden {
  -webkit-filter: contrast(90%) brightness(120%) saturate(85%) hue-rotate(20deg);
  filter: contrast(90%) brightness(120%) saturate(85%) hue-rotate(20deg);
}

.aden::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: darken;
  background: -webkit-linear-gradient(
    to right,
    rgba(66, 10, 14, 0.2) 1,
    rgba(66, 10, 14, 0)
  );
  background: linear-gradient(
    to right,
    rgba(66, 10, 14, 0.2) 1,
    rgba(66, 10, 14, 0)
  );
}

/***************AMARO FILTER***************/

.amaro {
  -webkit-filter: contrast(90%) brightness(110%) saturate(150%)
    hue-rotate(-10deg);
  filter: contrast(90%) brightness(110%) saturate(150%) hue-rotate(-10deg);
}

/***************BRANNAN FILTER***************/

.brannan {
  -webkit-filter: contrast(140%) sepia(50%);
  filter: contrast(140%) sepia(50%);
}

.brannan::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: lighten;
  background: rgba(161, 44, 199, 0.31);
}

/***************BROOKLYN FILTER***************/

.brooklyn {
  -webkit-filter: contrast(90%) brightness(110%);
  filter: contrast(90%) brightness(110%);
}

.brooklyn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: overlay;
  background: -webkit-radial-gradient(
    50% 50%,
    circle closest-corner,
    rgba(168, 223, 193, 0.4) 1,
    rgba(183, 196, 200, 0.2)
  );
  background: radial-gradient(
    50% 50%,
    circle closest-corner,
    rgba(168, 223, 193, 0.4) 1,
    rgba(183, 196, 200, 0.2)
  );
}

/***************CLARENDON FILTER***************/

.clarendon {
  -webkit-filter: contrast(120%) saturate(125%);
  filter: contrast(120%) saturate(125%);
}

.clarendon::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: overlay;
  background: rgba(127, 187, 227, 0.2);
}

/***************EARLY BIRD FILTER***************/

.early-bird {
  position: relative;
  -webkit-filter: contrast(90%) sepia(20%);
  filter: contrast(90%) sepia(20%);
}

.early-bird::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: overlay;
  background: -webkit-radial-gradient(
    50% 50%,
    circle closest-corner,
    rgba(208, 186, 142, 1) 20,
    rgba(29, 2, 16, 0.2)
  );
  background: radial-gradient(
    50% 50%,
    circle closest-corner,
    rgba(208, 186, 142, 1) 20,
    rgba(29, 2, 16, 0.2)
  );
}

/***************GINGHAM FILTER***************/

.gingham {
  -webkit-filter: brightness(105%) hue-rotate(350deg);
  filter: brightness(105%) hue-rotate(350deg);
}

.gingham::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: darken;
  background: -webkit-linear-gradient(
    to right,
    rgba(66, 10, 14, 0.2) 1,
    rgba(0, 0, 0, 0)
  );
  background: linear-gradient(
    to right,
    rgba(66, 10, 14, 0.2) 1,
    rgba(0, 0, 0, 0)
  );
}

/***************HUDSON FILTER***************/

.hudson {
  -webkit-filter: contrast(90%) brightness(120%) saturate(110%);
  filter: contrast(90%) brightness(120%) saturate(110%);
}

.hudson::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: multiply;
  opacity: 0.5;
  background: -webkit-radial-gradient(
    50% 50%,
    circle closest-corner,
    rgba(255, 177, 166, 1) 50,
    rgba(52, 33, 52, 1)
  );
  background: radial-gradient(
    50% 50%,
    circle closest-corner,
    rgba(255, 177, 166, 1) 50,
    rgba(52, 33, 52, 1)
  );
}

/***************INKWELL FILTER***************/

.inkwell {
  -webkit-filter: contrast(110%) brightness(110%) sepia(30%) grayscale(100%);
  filter: contrast(110%) brightness(110%) sepia(30%) grayscale(100%);
}

.inkwell::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  background: rgba(0, 0, 0, 0);
}

/***************LOFI FILTER***************/

.lofi {
  position: relative;
  -webkit-filter: contrast(150%) saturate(110%);
  filter: contrast(150%) saturate(110%);
}

.lofi::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: multiply;
  background: -webkit-radial-gradient(
    50% 50%,
    circle closest-corner,
    rgba(0, 0, 0, 0) 70,
    rgba(34, 34, 34, 1)
  );
  background: radial-gradient(
    50% 50%,
    circle closest-corner,
    rgba(0, 0, 0, 0) 70,
    rgba(34, 34, 34, 1)
  );
}

/***************PANEL***************/

.panel {
  overflow: auto;
  background-color: #1d2026;
  border-left: 1px solid #20252b;
  width: 35%;
  padding: 50px 50px 0;
  height: 100vh;
}

/***************CUSTOM FILTERS***************/

input[type="range"] {
  display: block;
  margin: 23px 0 30px;
  width: 100%;
  appearance: none;
  background-color: rgb(73, 73, 73);
  height: 2px;
  border-radius: 2px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  width: 15px;
  -webkit-appearance: none;
  height: 15px;
  border-radius: 50%;
  cursor: ew-resize;
  background: rgb(142, 83, 202);
}

.panel h2 {
  margin-bottom: 25px;
  font-size: 18px;
  color: #fff;
}

.custom-filter::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  background: rgba(243, 106, 188, 0.3);
}

/***************OVERLAY***************/

.overlay {
  margin-top: 50px;
}

.overlay li {
  margin-bottom: 10px;
}

input[type="radio"] {
  outline: none;
}

label[for="color"] {
  display: inline-block;
  margin: 20px 0 40px;
}

label[for="opacity"] {
  display: block;
}

/***************FOOTER***************/

footer {
  position: absolute;
  bottom: 0;
  padding: 20px;
  text-align: center;
  width: 100%;
}

/***************MEDIA QUERIES***************/

@media only screen and (max-width: 1200px) {
}
